.navbar .navbar-nav .nav-link {
    color: #000000;
    font-size: 1.1em;
    position: relative;
  }

  .navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  .navbar .navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #494949c5;
    color: transparent;
    width: 0%;
    content: '.';
    height: 3px;
  }
  .navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
  }